.NavbarItems {
    background: linear-gradient(60deg, var(--black) 0%, var(--blue) 100%);
    height: 80px;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    width: 100vw;
}

.NavbarItems img {
    width: 153px;
    position: relative;
    top: 6px;
}

.fa-react {
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-links {
    color: var(--white);
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links:hover {
    color: var(--orange);
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.fa-bars {
    color: var(--white);
}

.nav-links-mobile {
    display: none;
    background-color: var(--orange);
    color: var(--white);
}

.menu-icon {
    display: none;
}

.search-bar {
    display: none;
    width: 100%;
    margin-right: 1rem;
}

.search-logo {
    color: var(--blue-light);
    font-size: 1.4rem;
    right: 24px;
    top: 25px;
    position: absolute;
}

.search-logo:hover {
    transition: all .2s ease;
    color: var(--blue);
    font-size: 1.5rem;
}

.search {
    margin-right: 1rem;
    width: auto;
    height: 2.2rem;
    padding: 10px 10px;
    font-size: 1rem;
    border: 2px solid var(--orange);
}

@media screen and (max-width:1000px) {
    .NavbarItems {
        position: relative;
    }
    .searchbar {
        display: none;
    }
    .search-bar {
        margin-top: 2rem;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .search-bar .search-logo {
        color: var(--orange);
        position: relative;
        top: 1px;
        left: 120px;
    }
    .search-bar .search {
        position: absolute;
        width: 80%;
        margin: auto;
    }
    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: calc(100vh-60px);
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }
    .nav-menu.active {
        background: linear-gradient(60deg, var(--black) 10%, var(--blue) 100%);
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }
    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    .nav-links:hover {
        color: var(--orange);
        border-radius: 0;
    }
    .navbar-logo {
        position: absolute;
        margin-left: 5px;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }
    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }
    .fa-times {
        color: var(--orange);
        font-size: 2rem;
    }
    .nav-links-mobile {
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        text-decoration: none;
        background: transparent;
        color: var(--white);
        font-size: 1.5rem;
    }
    .nav-links-mobile:hover {
        background-color: var(--orange);
        color: var(--black);
        transition: 250ms;
    }
    .btn {
        display: none;
    }
}